* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0 auto;
  background-color: #232830;
}

.container {
  margin: 0 auto;
  width: 70%;
  box-sizing: border-box;
}

nav {
  margin-top: 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;
}

nav .logo {
  color: #fff;
  font-size: 30px;
}

nav ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: 36px;
  flex-wrap: wrap;
}

nav ul li a {
  color: #fff;
  display: flex;
  justify-content: end;
  font-size: 24px;
  text-decoration: none;
}

header {
  display: block;
  margin-top: 72px;
  margin-bottom: 99px;
}

header img {
  display: flex;
  margin: auto;
  width: 194px;
  height: 204px;
}

header h1 {
  color: #ff7575;
  text-align: center;
  font-size: 71px;
  font-style: italic;
  margin-top: 40px;
}

header p {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: 16px;
}

hr {
  width: 100%;
  opacity: 0.2;
  color: #4d4d4d;
}

/* Category Listing */

.category-listing {
  display: flex;
  box-sizing: border-box;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 16px;
  gap: 16px;
}

.category-listing .grid {
  display: flex;
  gap: 16px;
}

.category-listing ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: 36px;
  flex-wrap: wrap;
}

.category-listing ul li a {
  color: #909090;
  display: flex;
  justify-content: end;
  text-decoration: none;
  font-style: italic;
  font-size: 27px;
}

/* Articles Listing */

.articles-listing {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 100px;
  row-gap: 40px;
  justify-content: space-between;
}

.articles-listing .card {
  background-color: white;
  width: 284px;
  border-radius: 16px;
  padding: 22px;
}

.articles-listing .card img {
  width: 284px;
  height: 160px;
  border-radius: 16px;
}

.articles-listing .card h2 {
  color: #0f1217;
  font-size: 19px;
  margin: 16px 0 16px 0;
}

.articles-listing .card p {
  color: #0f1217;
  font-size: 16px;
}

.articles-listing .card .date p {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.articles-listing .card .dated p {
  display: flex;
  gap: 16px;
  margin-top: 54px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 157px;
  margin-top: 115px;
}

.pagination a {
  display: flex;
  gap: 20px;
  padding: 8px 16px;
  color: #909090;
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

.pagination .dua a {
  color: #ff7575;
  border-top: 5px solid #ff7575;
  padding-top: 4px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 16px 0 100px 0;
}

footer .writings {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

footer .writings h2 {
  font-size: 30px;
  color: #fff;
}

footer .writings p {
  font-size: 19px;
  padding: 8px 16px;
  background-color: #4699e0;
  border-radius: 8px;
  color: #fff;
}

footer .social {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  background-color: #4699e0;
  border-radius: 8px;
  align-items: baseline;
}

footer .social img {
  width: 20px;
  height: 16px;
}

footer .social p {
  font-size: 19px;
  color: #fff;
}
